.leaflet-control-attribution{
  display: none;
}

#map {
  height: 1000px;
}

#select {
  margin: 0 auto;
  text-align: center;
}

#select #city {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}